In [1]:
import pandas as pd

In [2]:
import os

In [3]:
#dataFile = os.path.join(os.getcwd(), 'FlexSession_12102019/dataSet.csv')
dataFile = 'a:\\DataVizRepo\\FlexSession_12102019\\dataSet.csv'

In [4]:
dataFilePD = pd.read_csv(dataFile)

In [5]:
dataFilePD.head(100)

     id First Name Last Name Gender   Amount
0     1       Todd     Lopez      M   8067.7
1     2     Joshua     White      M   7330.1
2     3       Mary     Lewis      F  16335.0
3     4      Emily     Burns      F  12460.8
4     5  Christina    Romero      F  15271.9
..  ...        ...       ...    ...      ...
95   96    Kathryn     Price      F  15964.1
96   97     Rachel       Day      F   8433.2
97   98      Marie    Bailey      F   4598.7
98   99      Kathy    Flores      F   6286.3
99  100      Wanda     Young      F   2123.6

[100 rows x 5 columns]

In [6]:
dataFilePD.describe()

                id        Amount
count  1000.000000   1000.000000
mean    500.500000  10051.323600
std     288.819436   5831.230806
min       1.000000      3.400000
25%     250.750000   4854.875000
50%     500.500000  10318.050000
75%     750.250000  15117.425000
max    1000.000000  19987.400000

In [7]:
dataFilePD["Amount"].head(100)

0      8067.7
1      7330.1
2     16335.0
3     12460.8
4     15271.9
       ...
95    15964.1
96     8433.2
97     4598.7
98     6286.3
99     2123.6
Name: Amount, Length: 100, dtype: float64

In [8]:
dataFilePD["Amount"].describe()

count     1000.000000
mean     10051.323600
std       5831.230806
min          3.400000
25%       4854.875000
50%      10318.050000
75%      15117.425000
max      19987.400000
Name: Amount, dtype: float64

In [9]:
dataFilePD[["Amount","Gender"]].head()

    Amount Gender
0   8067.7      M
1   7330.1      M
2  16335.0      F
3  12460.8      F
4  15271.9      F

In [10]:
dataFilePD["Amount"].mean()

10051.323600000002

In [11]:
dataFilePD["Amount"].sum()

10051323.600000001

In [12]:
dataFilePD["Gender"].unique()

array(['M', 'F'], dtype=object)

In [13]:
dataFilePD["Gender"].value_counts()

M    515
F    485
Name: Gender, dtype: int64

In [14]:
thousandsOfDollars = dataFilePD["Amount"]/1000
dataFilePD["Thousands Of Dollars"] = thousandsOfDollars
dataFilePD.head()

   id First Name Last Name Gender   Amount  Thousands Of Dollars
0   1       Todd     Lopez      M   8067.7                8.0677
1   2     Joshua     White      M   7330.1                7.3301
2   3       Mary     Lewis      F  16335.0               16.3350
3   4      Emily     Burns      F  12460.8               12.4608
4   5  Christina    Romero      F  15271.9               15.2719